<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar color="primary">
  <span>Welcome to {{title}}!</span>
</md-toolbar>  

<md-card>
    <md-card-header>
      <md-card-title><h3>List of Todos</h3></md-card-title>
    </md-card-header>
    <md-form-field>
      <input mdInput placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
    </md-form-field>    
    <md-card-content>
      <md-nav-list>
        <md-list-item #x (mouseover)="x.isHover = true" (mouseleave)="x.isHover = false" *ngFor="let todo of todos" [class.completed]="todo.complete">
          <a mdLine (click)="toggleTodoComplete(todo);$event.stopPropagation();">
            <md-checkbox [checked]="todo.complete">
              <p>{{todo.title}}</p>
            </md-checkbox>            
          </a>
          <button md-icon-button (click)="removeTodo(todo)" *ngIf="x.isHover">
            <md-icon>clear</md-icon>
          </button>
        </md-list-item>
      </md-nav-list>
      <p *ngIf="todos.length > 0">
        <strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left
      </p>
    </md-card-content>
  </md-card>

<router-outlet></router-outlet>
